/* header.component.css */

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
  }
  
  .card {
    display: flex;
    align-items: center;
    min-height: 6.5vh;
  }
  
  .card svg {
    padding: 0;
    width: 10vw;
    height: 5vh;
    margin-right: 10px;
  }
  
  